epgstation/config/*
epgstation/data/*
epgstation/logs/*
epgstation/thumbnail/*
!epgstation/config/config.sample.yml
!epgstation/config/enc3.js

mirakurun/config/*
mirakurun/data/*
!mirakurun/config/server.yml
!mirakurun/config/tuners.yml

!.gitkeep

.env